BOT_TOKEN=8814676523:AAGr0CfENEt3vgAJRiNTJJ7U3qVwgr9_KiA

WEB_APP_URL=https://gojjam-bingo.vercel.app

JWT_SECRET=super_secret_jwt

DATABASE_URL=postgresql://postgres:password@localhost:5432/gojjam_bingo

REDIS_URL=redis://localhost:6379

ADMIN_IDS=7519649061

NODE_ENV=development

PORT=3000
